.iconos{
    display: inline-block;
    width: 32.2%;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.whatsapp{
    padding: 0px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.whatsapp:hover{
    opacity:0.7;
}
.fa-whatsapp{
    background: #00bb2d;
    color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
.promociones{
    display: flex;
    background: #F2F5FE;
}
.card-body{
    background: yellowgreen;
    color: white;
}


/*footer*/

.paginafooter{
    background-color: #0585c0;
}

.container{
    color: white;
}

h6{
    color: white;
}

p{
    color: white;
}
a{
    color: white;
}

h5{
    color: white;
}
.fb-ic{
    color:white;
}
.ins-ic{
    color: white;
}
.icons{
    color: white;
}
/*fin Footer*/
p{
    color: black;
}
.img1{
    border: none;
}
.card-deck{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #F2F5FE;
}